.checkbtn{
    color: #0c0ce7;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    display: none;
    
}
#check{
    display: none;
}
.bimbo{
    margin-left: 600px;
    margin-top: 80px;
    
}

.about
{
    font-size: larger;
    margin-top: 30px;
    margin-left: 600px;
    font-weight: 600;
    color: #fa8100;
    font-family:   BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
}


#info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#091be4;
    font-size: 40px;
    padding: 6rem 0;
    text-align: center;
}
@media(max-width:858px){
    .checkbtn{
        display: block;
        color: black;
    }
    #check{
        display: none;
    }
    .bimbo{
        margin-left: 300px;
        margin-top: 80px;
        height: 200px;
        
    }
    
    .about
    {
        font-size: larger;
        margin-top: 30px;
        margin-left: 300px;
        font-weight: 600;
        color: #fa8100;
        font-family:   BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: initial;
    }
    
    
    #info{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:#091be4;
        font-size: 30px;
        padding: 6rem 0;
        margin: 30px;
        text-align: justify;
}
}