*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #eff4fd;
    color: white;
}
.first{
    position: relative;
    width: 100%;
    
}

nav{
    display: flex;
    width: 90%;
    margin: .5%;
    padding: 20px 0;
    align-items: right;
    justify-content: space-between;
    margin-left: 20px;
}
.checkbtn{
    color: #09090a;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    display: none;
    
}
#check{
    display: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(11, 137, 240);
    font-weight: bold;
    
}

nav ul li a:hover{
    color: rgb(16, 8, 234);
    font-size: large;
}

.detail{
    margin-left: 2%;
    margin-top: 13%;

}

.detail h1{
    font-size: 50px;
    color: rgb(11, 137, 240);
    margin-bottom: 20px;
}
span{
    color: orange;
}

.detail p{
    color: #555;
    line-height: 22px;

}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 115%;
}

.images img{
    height: 50%;
    position: absolute;
    left: 305%;
    
    transform: translateX(-50%);
    transition:bottom 1s, left 1s ;
}

body.Darkmode{
    background-color: black;
    color: white;
}

button{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;

}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efe4e4;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 1px;
    background-color: rgb(254, 248, 248);
    -webkit-transition: .2s;
    transition: .2s;

}

input:checked + .slider{
    background-color: #060606;

}
input:focus + .slider{
    box-shadow: 0 0 1px #09090a;
} 

input:checked + .slider:before{
    -webkit-transform : translateX(26px);
    -ms-transform: translateX(26px);

}

.slider.round{
    border-radius: 30px;

}

.slider.round:before{
    border-radius: 50%;
}
.logo{
    margin-top: 1%;
    width: 200px;
    margin-left: 30px;
}

.social {
    margin-top: 13%;
    justify-content: space-evenly;
    width: 500px;

}
i{
    padding: 10px;
    width: 20px;
   height: 50px; 
}



.call{
    width: 30px;
    margin: 10px;

}
.local{
    margin-left: 260%;
    display: flex;
    margin-top: -70px;
    justify-content: space-between;
   
    
}


@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    #check{
        display: none;
    }
    
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 115%;
}

.images img{
    height: 50%;
    position: absolute;
    left: 305%;
    bottom: 10%;
    transform: translateX(-50%);
    transition:bottom 1s, left 1s ;
    display: none;
}
.detail{
    margin-left: 2%;
    margin-top: 13%;

}

.detail h1{
    font-size: 40px;
    color: rgb(11, 137, 240);
    margin-bottom: 20px;
}
span{
    color: orange;
}

.detail p{
    color: #555;
    line-height: 30px;

}

.detail a{
    background: #212121;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
ul{
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 60px;
    left: -100%;
    background: #2b4f73;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    list-style: none;
    margin: 80px 0;
}

nav ul li a{
    text-decoration: none;
    color: rgb(3, 3, 232);
    font-weight: bold;
    
}

nav ul li a:hover{
    color: rgb(16, 8, 234);
    font-size: large;
}
#check:checked ~ ul{
    left: 0;
}
}





